RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !^favicon\.gif|!^\.JPG|!^\.js|!^\.css
RewriteCond $1 !^(index\.php|chat|consultant|inwidget|images|downloads|uploads|download|css|js|doc|dowloads|fonts|robots\.txt|sitemap\.xml|test.html)
RewriteRule ^(.*)$ /index.php/$1 [L]